.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    top: 4%;
    right: 10vw;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #1c1c1c;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-menu-wrap {
    background-color: #1c1c1c;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
    background: #1c1c1c;
}

@media only screen and (min-width: 768px) {
    .bm-burger-button {
        top: 4%;
        right: 5vw;
    }
}
